{% extends "projetos.html" %}

{% block nav %}
    {{navbar("politicos")}}
{% endblock %}

{% block content %}
<div class="marketing">
    <h1>{{ politico.nome }}</h1>

    <p class="marketing-byline">Vereador</p>
</div>
<div class="row-fluid">
    <div class="span3">
        <img class="imgPerfil" src="/common/static/img/vereadores/perfil/{{politico.foto}}.jpg" alt="{{politico.nome}}"
             title="{{politico.nome}}">
    </div>
    <div class="span9">
        <strong>Partido:</strong> {{politico.partido}} <br>
        <strong>Dados Pessoais:</strong>

        <p>{{ politico.dados }}</p>
        <strong>E-mail:</strong>

        <p>
            <a href="mailto:{{ politico.email }}">{{ politico.email }}</a>
        </p>
        <strong>Telefone:</strong>

        <p>{{ politico.telefone }}</p>
        <strong>Local de Trabalho:</strong>

        <p>{{ politico.localtrabalho }}</p>
        <strong>Descrição:</strong>

        <p style="text-align: justify;">{{ politico.descricao }}</p>
    </div>
    <br>
</div>

<div class="marketing">
    <h1>Leis que este vereador criou:</h1>
</div>

{{ listaProjetos() }}

{% endblock %}
