{% extends "base.html" %} 
{% block nav%} 
	{{navbar("sobre")}} 
{% endblock %} 

{% block content %}


<div class="marketing">
	<div class="row">
		<div class="span10 offset1">
			<div class="hero-unit">
				<h1>Projetos Políticos</h1>
				<p class="marketing-byline">
					Fiscalize e opine a respeito dos
					projetos políticos da cidade de São José dos Campos. Vote, comente e
					ajude a sua cidade a ter um governo efetivamente democrático.
				</p>
				<a href="/usuario/" class="btn-large btn-primary"><i class="icon-user icon-white"></i> Cadastre-se </a>
			</div>
			<hr class="soften">
		</div>
	</div>

	<!-- <div class="row">
		<div class="span10 offset1">
			<h1>Como consertar o nosso país?</h1>
			<br>
			<br>
			<p class="marketing-byline">
				Antes de começar nossa conversa, assista o vídeo abaixo criado pelo site Ranking dos Políticos:
			</p>
			<div class="text-block">
				<!--iframe src="http://player.vimeo.com/video/37825480?title=0&amp;byline=0&amp;portrait=0" width="400" height="270" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe><!--<p><a href="http://vimeo.com/">Polticos 1+2</a> from <a href="http://vimeo.com/zaw">ZAW</a> on <a href="http://vimeo.com">Vimeo</a>.</p>-->
				<!-- <iframe width="880" height="500" src="http://www.youtube.com/embed/8lXla2IHqYE?rel=0" frameborder="0" allowfullscreen=""></iframe>
			</div>
			<a href="http://carregandooelefante.com.br/carregandooelefante.zip" target="_blank">Baixar em formato zip</a>
			<br>
			<a href="http://carregandooelefante.com.br/carregandooelefante.pdf" target="_blank">Baixar em formato PDF</a>
		</div>
		<hr class="soften">
	</div>-->

	<div class="row">
		<h1>Módulos deste sistema</h1>
		<br>
		<div class="span5 offset1">
			<a href="/projetos"><h2>Listagem de
			Projetos</h2></a>
			<p>
			<p class="marketing-byline">
				Na Listagem dos Projetos você visualiza todos os projetos de
				leis ativos e finalizados de seu município, a idéia é que você possa
				interagir com o seu voto e opinião a respeito de todos os projetos,
				fazendo com que o legislativo tenha um feedback efetivo sobre os
				projetos propostos.
			</p>
			</p>
		</div>
		<div class="span5">
			<a href="/politicos"> <h2>Perfis dos Políticos</h2></a>
			<p class="marketing-byline">
				A página de "perfis dos políticos" permite que você tenha
				acesso a uma lista de todos os políticos da região, sendo assim, você
				pode visualizar de maneira simples todos os projetos que ele fez durante o seu mandato.
			</p>
		</div>

		<!--  <div class="span4">
		<img src=""> <a href="/mapa"><h2>Mapa do Cidadão</h2></a>
		<p>Você tem algum problema em seu bairro e necessita que alguém do
		governo o ouça para tentar solucioná-lo? eis que o mapa do cidadão
		vem para ajudá-lo! O Mapa do Cidadão consiste em um sistema
		colaborativo de informações da sua região! utilizando-o você consegue
		mostrar todos os problemas e o governo poderá de maneira mais efetiva
		atendê-los e pricipalmente, saber quais são os problemas de que a
		população necessita de solução.</p>
		</div> -->
	</div>

	<hr class="soften">

	<div class="row">
		<div class="span10 offset1">
			<h1>Desenvolvimento do Projeto</h1>
			<br><br>
			<p class="marketing-byline">
				Este é um projeto de código-aberto e o código-fonte encontra-se no
				<a href="https://github.com/PauloLuan/ProjetosPoliticosSJC"> GitHub </a>.
				O objetivo dessa iniciativa é que programadores de outras cidades possam utilizar este projeto para melhorar a democracia
				de sua região, pois se atuarmos na esfera municipal, o país melhora como um todo.
				<br>
				<br>
				Este projeto é COMPLETAMENTE independente e não é financiado por NENHUM órgão público, partidos e não possue qualquer tipo de
				vínculo político. Eu sou apenas um programador Nerd que resolveu contribuir de maneira efetiva para a sociedade.
				<br>
				<br>
				Tive como inspiração sistemas como o <a href="http://www.votenaweb.com.br/" target="_blank">Vote na Web</a> e <a href="http://politicos.org.br/" target="_blank">Ranking dos Políticos</a>, porém,
				estes dois projetos tem como objetivo a esfera federal de nossa política, dado que os dois projetos são
				fechados e não atuam nas esferas municipais resolvi criar este sistema de código-aberto.
				<br>
				<br>
				<!--
				Mas... como este mundo é capitalista e ainda fazemos uso da <a href="http://suavidaeumaporcaria.com.br/" target="_blank"> política subjetiva e economia monetária</a>,
				o dinheiro ainda é necessário para manter o projeto no ar.
				Estou financiando este sistema com minhas economias, caso você ache que esta idéia realmente pode mudar a vida das pessoas
				e o modo como fazemos democracia contribua com este nobre projeto clicando no botãozinho abaixo ;) pois com o seu apoio
				poderei criar sistemas ainda melhores! 
				<br>
				<br> --> 
				Por um país efetivamente democrático!
                <br>
			</p>
		</div>
	</div>

</div>

{% endblock %}
