Detalhes do projeto!
<br>
<hr>
<br/>
{{ projeto.nome }}
<br/>
{{ projeto.descricao }}
<br/>
{{ projeto.data_criacao }}
<br/>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=504525092919443";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="comments" class="fb-comments" data-href="" data-width="640" data-num-posts="30"></div>

<script type="text/javascript">
    var link = window.location.href;
    a = document.getElementById("comments")
    a.setAttribute("data-href", link)
</script>