{% extends "base.html" %}
{% block nav%}
{{ navbar("projetos")}}
{%endblock %}
{% block content %}
<div class="marketing">
	<h1>Listagem de Projetos.</h1>
	<p class="marketing-byline">
		Visualize e dê a sua opinião votando
		nos projetos.
	</p>
</div>

{% macro macroNota(nota) %}
<div class="loading-bar">
	<div
	{{'class="amount red"' if nota<49}}
	{{'class="amount green"' if nota>50}}
	style="width: {{nota}}%;">
		<div class="loaded">
			{{nota}}%
		</div>
		<div class="lines"></div>
	</div>
</div>
{% endmacro %}

<div class="row-fluid">
	<div class="span12">
		<table class="table table-striped table-bordered">
			<tbody>
				{% for lei in leis %}
				<tr>
					<td>
					<dl>
						<dt>
							<h3>{{lei.name}}</h3>
						</dt>
						<dd>
							<a href="{{lei.link}}">Link para o projeto original</a>
						</dd>
						<dd>
							<p>
								<h4>Descrição:</h4>
								{{lei.desc}}
							</p>
						</dd>
					</dl>
					<div class="row-fluid">
						<div class="span1 offset1">
							<img src="commom/static/img/like.png" />
						</div>
						<div class="span6">
							{{ macroNota(lei.nota)}}
						</div>
						<div class="span1">
							<img src="commom/static/img/dislike.png" />
						</div>
					</div></td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}
