{% extends "base.html" %} {% block nav%} {{ navbar("projetos")}}
{%endblock %} {% block content %}

<div class="marketing">
	<h1>Listagem de Projetos.</h1>
	<p class="marketing-byline">Visualize e dê a sua opinião votando
		nos projetos.</p>
</div>

<div class="row-fluid">
	<div class="span12">
		{% for lei in leis %}
			<h3>{{lei.name}}</h3><a href="{{lei.link}}">Link para o projeto original</a>
			<p><h4> Descrição: </h4>{{lei.desc}}</p>
		{% endfor %}
	</div>
</div>


{% endblock %}




