{% extends "base.html" %}

{% block nav %}
{{ navbar("projetos")}}
{% endblock %}

{% macro macroNota(likes, dislikes) %}
<p class="marketing p">
    Porcentagem de Votos da população
</p>
<div class="progress">
    <div class="bar bar-success" style="width: {{likes}}%">
        <h4> {{likes}}% </h4>
    </div>
    <div class="bar bar-danger" style="width: {{(dislikes)}}%">
        <h4> {{dislikes}}% </h4>
    </div>
</div>
<!--
<div class="loading-bar">
<div
{{'class="amount red"' if likes<49}}
{{'class="amount green"' if likes>50}}
style="width: {{likes}}%;">
<div class="loaded">
{{likes}}%
</div>
<div class="lines"></div>
</div>
</div> -->
{% endmacro %}

{% macro listaProjetos() %}
<div class="row-fluid">
    <div class="span12">
        {% for projeto in projetos %}
        <form class="well">
            <a href="/projetos/detalhe/{{projeto.key.urlsafe()}}"><h3 class="marketing h1">
                {{projeto.nome}}</h3></a>
            <a href="{{projeto.link}}">Link para o projeto original</a>

            <div class="row-fluid">
                <div class="span12">
                    <h4>Descrição:</h4>

                    <p>
                        {{projeto.descricao}}
                    </p>

                    <div class="span1">
                        <a href="{{like_url}}/{{projeto.key.urlsafe()}}"><img src="/common/static/img/like.png" class="img-circle" style="top: 0"/> </a>

                        <p class="marketing p" style="color: #468847">
                            {{projeto.likes}} pessoas gostaram
                        </p>
                    </div>

                    <div class="span9">
                        {{ macroNota(projeto.likes_computed, projeto.dislikes_computed)}}
                    </div>

                    <div class="span1">
                        <a href="{{dislike_url}}/{{projeto.key.urlsafe()}}"><img src="/common/static/img/dislike.png" class="img-circle"/></a>
                        <p class="marketing p" style="color: #B94A48">
                            {{projeto.dislikes}} pessoas não gostaram
                        </p>
                    </div>
                </div>
            </div>
        </form>
        <br>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% block content %}
<div class="marketing">
    <h1>Listagem de projetos.</h1>

    <h2 class="marketing-byline">Visualize e dê a sua opinião votando nos projetos de lei.</h2>
</div>


{{ listaProjetos()}}
{% endblock %}