{% extends "projetos.html" %} 

{% block nav %} 
	{{navbar("politicos")}} 
{% endblock %}

{% block content %}
<div class="marketing">
	<h1>Alexandre da farmácia.</h1>
	<p class="marketing-byline">Vereador</p>
</div>
<div class="row-fluid">
	<div class="span3">
		<img src="/commom/static/img/vereadores/perfil/{{politico.foto}}.jpg"
			alt="{{politico.nome}}" title="{{politico.nome}}">
	</div>
	<div class="span9">

		<strong>Partido:</strong> {{politico.partido}} <br> <strong>Dados
			Pessoais:</strong>
		<p>Alexandre José da Cunha, nascido no dia 26/04/70, em São José
			dos Campos (SP). Comerciante.</p>
		<strong>E-mail:</strong>
		<p>
			<a href="mailto:alexandrefarm@camarasjc.sp.gov.br">alexandrefarm@camarasjc.sp.gov.br</a>
		</p>
		<strong>Telefone:</strong>
		<p>(12) 3925-6568</p>
		<strong>Local de Trabalho:</strong>
		<p>Sala 09 - Térreo</p>
		<strong>Descrição:</strong>
		<p style="text-align: justify;">
			Eleito vereador em 1996, aos 26 anos. Já no primeiro mandato se
			dedicou ao trabalho em parceria com a comunidade. Em 2000, foi
			reeleito vereador mais votado da cidade. É autor de importantes
			projetos de lei como: obriga médicos da rede pública a receitarem os
			medicamentos pelo nome genérico; cria parcerias para levar água a
			loteamentos irregulares; aumenta o valor da multa para donos de
			terrenos sujos; valoriza o doador de sague. Atualmente cumpre o 4º
			mandato e foi presidente da Câmara Municipal no biênio 2009/2010 <br>
			Legislatura: 4º mandato (de 1997/2012)
		</p>
	</div>
	<br>
	</div>
	
	<div class="marketing">
		<h1>Leis que este vereador criou:</h1>
</div>
	
	{{ listaLeis()}}

{% endblock %}
