{% extends "base.html" %} {% block nav%} {{navbar("politicos")}} {%
endblock %} {% block content %}
<div class="marketing">

	<div class="row">
		<div class="span9">
			<h1>Alexandre da Farmácia</h1>

			<div class="row">
				<div class="span6">
					<p class="marketing-byline">
						Página de perfil dos políticos.
					</p>
				</div>
				<div class="span3">
					<p class="marketing-byline">
						Página de perfil dos políticos.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
