{% extends "base.html" %} {% block nav%} {{navbar("politicos")}} {%
endblock %} {% block content %}
<div class="marketing">
	<h1>Perfis dos Políticos.</h1>
	<p class="marketing-byline">Pesquise por políticos, visualize os
		projetos que ele fez e opine a respeito.</p>
</div>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Vereador</th>
			<th>Nome</th>
			<th>Partido</th>
			<th>Perfil</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/1/alexandre+da+farmacia">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/0fe7811bcda01c21e43c_120x120_1_0.jpg"
					alt="Alexandre da Farmácia" title="Alexandre da Farmácia">
			</a></td>
			<td>
				<h2>
					<a href="/politicos/id"> Alexandre da Farmácia</a>
				</h2>
			</td>
			<td><p>
					<a href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/1/alexandre+da+farmacia">PP</a>
				</p></td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/1/alexandre+da+farmacia">Visualizar
					perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/2/amelia+naomi">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/6b481948561443988368_120x120_1_0.jpg"
					alt="Amélia Naomi" title="Amélia Naomi">
			</a></td>

			<td>
				<h2>
					<a href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/2/amelia+naomi">Amélia
						Naomi</a>
				</h2>
			</td>
			<td><p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/2/amelia+naomi">PT</a>
				</p></td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/2/amelia+naomi">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/3/angela+guadagnin">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/d21fd427f8985936d2f9_120x120_1_0.jpg"
					alt="Angela Guadagnin" title="Angela Guadagnin">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/3/angela+guadagnin">Angela
						Guadagnin</a>
				</h2>
			</td>
			<td><p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/3/angela+guadagnin">PT</a>
				</p></td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/3/angela+guadagnin">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/4/cristiano+pinto+ferreira">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/aedfe33fb75f0249a559_120x120_1_0.jpg"
					alt="Cristiano Pinto Ferreira" title="Cristiano Pinto Ferreira">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/4/cristiano+pinto+ferreira">Cristiano
						Pinto Ferreira</a>
				</h2>
			</td>
			<td><p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/4/cristiano+pinto+ferreira">PV</a>
				</p></td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/4/cristiano+pinto+ferreira">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/5/cristovao+goncalves">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/f0c9f4a6c61b63da0bf9_120x120_1_0.jpg"
					alt="Cristóvão Gonçalves" title="Cristóvão Gonçalves">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/5/cristovao+goncalves">Cristóvão
						Gonçalves</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/5/cristovao+goncalves">PSDB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/5/cristovao+goncalves">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/6/dilermando+die">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/7670f4ac1577d49fcc54_120x120_1_0.jpg"
					alt="Dilermando Dié" title="Dilermando Dié">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/6/dilermando+die">Dilermando
						Dié</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/6/dilermando+die">PSDB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/6/dilermando+die">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/8/dulce+rita">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/467f3394129507dcae80_120x120_1_0.jpg"
					alt="Dulce Rita" title="Dulce Rita">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/8/dulce+rita">Dulce
						Rita</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/8/dulce+rita">PSDB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/8/dulce+rita">Veja
					seu perfil</a></td>
		</tr>


		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/9/jairo+santos">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/985d00c94f0cefc5c97b_120x120_1_0.jpg"
					alt="Jairo Santos" title="Jairo Santos">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/9/jairo+santos">Jairo
						Santos</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/9/jairo+santos">PV</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/9/jairo+santos">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/7/joao+das+merces+tampao">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/c7190cff9d6287a3f1e6_120x120_1_0.jpg"
					alt="João das Mercês Tampão" title="João das Mercês Tampão">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/7/joao+das+merces+tampao">João
						das Mercês Tampão</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/7/joao+das+merces+tampao">PTB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/7/joao+das+merces+tampao">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/10/juvenil+silverio">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/15d79773f9421ff0504f_120x120_1_0.jpg"
					alt="Juvenil Silvério" title="Juvenil Silvério">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/10/juvenil+silverio">Juvenil
						Silvério</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/10/juvenil+silverio">PSDB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/10/juvenil+silverio">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/11/luiz+mota">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/c545affe7f578a6b4638_120x120_1_0.jpg"
					alt="Luiz Mota" title="Luiz Mota">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/11/luiz+mota">Luiz
						Mota</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/11/luiz+mota">DEM</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/11/luiz+mota">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/12/macedo+bastos">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/c2218df61a0351d876c8_120x120_1_0.jpg"
					alt="Macedo Bastos" title="Macedo Bastos">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/12/macedo+bastos">Macedo
						Bastos</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/12/macedo+bastos">DEM</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/12/macedo+bastos">Veja
					seu perfil</a></td>
		</tr>


		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/13/miranda+ueb">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/034c555063f1ef6f04cb_120x120_1_0.jpg"
					alt="Miranda Ueb" title="Miranda Ueb">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/13/miranda+ueb">Miranda
						Ueb</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/13/miranda+ueb">PPS</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/13/miranda+ueb">Veja
					seu perfil</a></td>
		</tr>


		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/14/petiti+da+farmacia+comunitaria">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/1beadc096d3a55b2854e_120x120_1_0.jpg"
					alt="Petiti da Farmácia Comunitária"
					title="Petiti da Farmácia Comunitária">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/14/petiti+da+farmacia+comunitaria">Petiti
						da Farmácia Comunitária</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/14/petiti+da+farmacia+comunitaria">PSDB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/14/petiti+da+farmacia+comunitaria">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/15/renata+paiva">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/bbe696bd5888e460b72d_120x120_1_0.jpg"
					alt="Renata Paiva" title="Renata Paiva">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/15/renata+paiva">Renata
						Paiva</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/15/renata+paiva">DEM</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/15/renata+paiva">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/16/robertinho+da+padaria">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/517a4c3772e9defbc9c4_120x120_1_0.jpg"
					alt="Robertinho da Padaria" title="Robertinho da Padaria">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/16/robertinho+da+padaria">Robertinho
						da Padaria</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/16/robertinho+da+padaria">PPS</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/16/robertinho+da+padaria">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/17/tonhao+dutra">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/9a95d7fcf57487d9e2db_120x120_1_0.jpg"
					alt="Tonhão Dutra" title="Tonhão Dutra">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/17/tonhao+dutra">Tonhão
						Dutra</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/17/tonhao+dutra">PT</a>
				</p>
			</td>
			<td>v <a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/17/tonhao+dutra">Veja
					seu perfil</a>
			</td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/18/vadinho+covas">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/f7a92457f98566a05dc3_120x120_1_0.jpg"
					alt="Vadinho Covas" title="Vadinho Covas">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/18/vadinho+covas">Vadinho
						Covas</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/18/vadinho+covas">PSDB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/18/vadinho+covas">Veja
					seu perfil</a></td>
		</tr>



		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/19/valdir+alvarenga">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/379988f81e71f3363d16_120x120_1_0.jpg"
					alt="Valdir Alvarenga" title="Valdir Alvarenga">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/19/valdir+alvarenga">Valdir
						Alvarenga</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/19/valdir+alvarenga">PSB</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/19/valdir+alvarenga">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/20/wagner+balieiro">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/81fecdc7300d5c15486b_120x120_1_0.jpg"
					alt="Wagner Balieiro" title="Wagner Balieiro">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/20/wagner+balieiro">Wagner
						Balieiro</a>
				</h2>
			</td>
			<td>
				<p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/20/wagner+balieiro">PT</a>
				</p>
			</td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/20/wagner+balieiro">Veja
					seu perfil</a></td>
		</tr>

		<tr>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/21/walter+hayashi">
					<img
					src="http://camarasjc.sp.tempsite.ws/clicknow/arquivo/thumb/vereadores/26b3c125595c5e02df7c_120x120_1_0.jpg"
					alt="Walter Hayashi" title="Walter Hayashi">
			</a></td>
			<td>
				<h2>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/21/walter+hayashi">Walter
						Hayashi</a>
				</h2>
			</td>
			<td><p>
					<a
						href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/21/walter+hayashi">PSB</a>
				</p></td>
			<td><a
				href="http://camarasjc.sp.tempsite.ws/clicknow/vereadores/21/walter+hayashi">Visualizar
					Perfil</a></td>
		</tr>
</table>

{% endblock %}
