{% extends "base.html" %} {% block nav%} {{navbar("politicos")}} {%
endblock %} {% block content %}
<div class="marketing">
	<h1>Perfis dos Políticos.</h1>
	<p class="marketing-byline">Pesquise por políticos, visualize os
		projetos que ele fez e opine a respeito.</p>
</div>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Vereador</th>
			<th>Nome</th>
			<th>Partido</th>
		</tr>
	</thead>
	<tbody>
		{% for politico in politicos %}
		<tr>
			<td>
				<img src="/commom/static/img/vereadores/{{politico.foto}}.jpg" alt="{{politico.nome}}" title="{{politico.nome}}">
			</td>
			<td>
				<h2>
					<a href="/politicos/perfil/{{politico.id_politico}}">{{politico.nome}}</a>
				</h2>
			</td>
			<td><p>{{politico.partido}}</p></td>
		</tr>
		{% endfor %}
</table>

{% endblock %}
