Bem vindo ao projetos politicos

Mapa do site:
<br>
<br><a href="projetos">Projetos</a>
<br><a href="politicos">Políticos</a>
<br><a href="ocorrencias">Ocorrências</a>
<br><br><br><br><br><br>

<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=395736887160072";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like" data-href="http://www.facebook.com/pages/Projetos-Pol%C3%ADticos-SJC/436813019726917?ref=hl"
     data-send="true" data-width="450" data-show-faces="true"></div>