{% extends "base.html" %} 
{% block nav%}
	{{navbar("sobre")}}
{% endblock %}

{% block content %}
	<!-- Main hero unit for a primary marketing message or call to action -->
	<div class="hero-unit">
		<h1>Projetos Políticos SJC</h1>
		<p>Fiscalize e opine a respeito dos projetos políticos da cidade de
			São José dos Campos. Vote, comente e ajude a sua cidade a ter um
			governo efetivamente democrático.</p>
		<p>
			<a class="btn btn-primary btn-large">Cadastre-se &raquo;</a>
		</p>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<img src=""> <a href=""><h2>Listagem de Projetos</h2></a>
			<p>
			<p>Na Listagem dos Projetos você visualiza todos os projetos de
				leis ativos e finalizados de seu município, a idéia é que você possa
				interagir com o seu voto e opinião a respeito de todos os projetos,
				fazendo com que o legislativo tenha um feedback efetivo sobre os
				projetos propostos.</p>
			</p>
		</div>
		<div class="span4">
			<img src=""> <a href=""><h2>Perfis dos Políticos</h2></a>
			<p>A página de "perfis dos políticos" permite que você tenha
				acesso a uma lista de todos os políticos da região, sendo assim, você
				pode visualizar de maneira simples todos os projetos que o político
				fez, além disto, você pode fazer uma busca pelo nome do político,
				pelo quantidade de projetos por político, entre outros.</p>
		</div>
	
		<div class="span4">
			<img src=""> <a href=""><h2>Mapa do Cidadão</h2></a>
			<p>Você tem algum problema em seu bairro e necessita que alguém do
				governo o ouça para tentar solucioná-lo? eis que o mapa do cidadão
				vem para ajudá-lo! O Mapa do Cidadão consiste em um sistema
				colaborativo de informações da sua região! utilizando-o você consegue
				mostrar todos os problemas e o governo poderá de maneira mais efetiva
				atendê-los e pricipalmente, saber quais são os problemas de que a
				população necessita de solução.</p>
		</div>
	</div>
{% endblock %}